<!DOCTYPE html>
<html lang="en" ng-app='Angular_Reddit'>
<head>
	<meta charset="UTF-8">
	<title>Angular Reddit</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css" crossorigin="anonymous">
  
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <script src="https://use.fontawesome.com/8a941abbd9.js"></script>


	<link rel="stylesheet" href="css/style.css">


  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
	<base href = '/'></base>
</head>
<body>

<!-- ************** -->
<!-- HEADER AND NAV -->
<!-- ************** -->
<tp-nav></tp-nav>


<!-- ************** -->
<!-- *****BODY***** -->
<!-- ************** -->

<ng-view></ng-view>

<!-- ************** -->
<!-- ****FOOTER**** -->
<!-- ************** -->

<footer class="footer">
  <div class="container-fluid">
   <nav class="navbar navbar-default">
    <div class="navbar-brand"><small><small>
    Thomas O'Brien | thomasobrien99@gmail.com | 206.384.1993</small></small>
    </div>

    <ul class='nav navbar-nav navbar-right'>
      <li>
        <a ng-href="mailto:thomasobrien99@gmail.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a ng-href="https://github.com/thomasobrien99">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a ng-href="https://www.linkedin.com/in/thomasobrien99">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    </nav>
  </div>
</footer>




<!-- Auth0's lock widget library -->
<script type="text/javascript" src="https://cdn.auth0.com/js/lock-7.12.min.js"></script>
<!-- AngularJS core -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
<!-- Angular cookie wrapper library for client cookies -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-cookies.js"></script>
<!-- Angular's Router Library for SPA -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-route.js"></script>
<!-- Auth0's Angular SDK Library -->
<script type="text/javascript" src="bower_components/auth0-angular/build/auth0-angular.js"></script>

<!-- https://cdn.auth0.com/w2/auth0-angular-4.2.2.js"></script> -->

<!-- Angular wrapper for localStorage and sessionStorage. Defaults to ng-cookies if not available -->
<script src="http://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js" type="text/javascript"> </script>
<!-- Angular wrapper library for JWT-->
<script src="http://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js" type="text/javascript"> </script>


<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>

<script src='js/app.js'></script>
<script src='js/filters.js'></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>

</script>
</body>
</html>