<div class="container">

	<div class = "col-sm-12">
		<h1>Welcome to Angular Reddit</h1>
	</div>
	<div class ="col-sm-8">
		<tp-search></tp-search>
		<div ng-if="!pC.posts.length">No Posts To Show</div>
	  <tp-post 
	  	ng-repeat="post in pC.posts | orderBy: '-votes'" 
	  	post="post" 
	  	on-update="pC.updatePost(post, prop, value)">
	  </tp-post>
	</div>
	<div class="col-sm-4">
		<div ng-repeat="post in pC.posts">
			<div class="panel panel-danger">
				<div class="panel-heading">
				Lorem
				</div>
				<div class="panel-body">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic sit facilis eius fugit commodi! Laborum molestias est maxime enim sed ipsam recusandae, voluptatum cupiditate officia sequi mollitia accusantium ullam quidem.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nam, repellendus non. Fugit nihil, cumque veniam reiciendis odio dolorum quisquam voluptates error accusantium minus eligendi soluta architecto, sapiente facere similique?
				</div>
			</div>
		</div>
	</div>

</div>