<!-- CONTROLLER IS: Search Controller -->
<div id = 'searchRow'>

	Search By Category:
		<select ng-model='$ctrl.searchCategory' ng-change='$ctrl.changeSearch("category")'>
			<option value='dark'>Dark</option>
			<option value='cold'>Cold</option>
			<option value='awesome'>Awesome</option>
			<option value='dry'>Dry</option>
			<option value='hot'>Hot</option>
			<option value='summer'>Summer</option>
			<option value='lucid'>Lucid</option>
			<option value='warm'>Warm</option>
			<option value='winter'>Winter</option>
			<option value='spring'>Spring</option>
		</select> 

	Search By Name:
		<input type="text" ng-model='$ctrl.searchName' ng-change='$ctrl.changeSearch("name")'>

	<a ng-href = "checkout">
		<button type="button" class="btn btn-danger pull-right">Checkout | Bag: {{$ctrl.size}}</button>
	</a>

</div>
