body{
	font-family: 'Montserrat'
}
/*TEMPLATE*/
#banner {
	background-color: darkorange;
	margin-top: 0em;
	color: white;
	text-align: center;
}
#greeting {
	color: darkorange;
	font-size: 6em;
	font-style: italic;
	font-weight: bold;
	margin-top: 1.5em;
}
footer {
	height: 30em;
}
/*SEARCH ROW*/
#searchRow {
	margin-top : 4em;
	height : 3em;
}
/*INVENTORY ITEMS*/
.item {
	border-bottom: 2px solid lightgrey;
}
.item-image {
  display: inline-block;
  height: 100%;
}
.item-body {
  padding-top: 2em;
  padding-left: 1em;
  display: inline-block;
  border-left: 2px solid lightgrey;
  vertical-align: top;
  width: 30em;
}
.item-name {
	margin-top: 0em;
}
.itemProperty{
	font-weight: bold;
}
.item-buttons {
  margin-top: 2em;
  margin-right: .5em;
	display: inline-block;
	vertical-align: top;
	float: right;
}
.item-quantity {
	margin-top: 0em;
	display: inline;
}
li {
	margin: .5em;
}
/*INVENTORY LIST*/
#list {
	border: 2px solid lightgrey;
}
#listHeader {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid lightgrey;
}
/*CART LIST*/
#cartHeaderRow1{
	display: flex;
	justify-content: space-between;
}
#cartHeaderRow2{
  border: 2px solid lightgrey;
  display:inline-block;
}
#cartHeaderRow2 div {
	display:inline-block;
  padding-left: .5em;
  padding-right: 1em;
}
#cartProductHeader{
	width : 40em;
	border-right:2px solid lightgrey;
}
#cartQuantityHeader{
	width : 7em;
	border-right:2px solid lightgrey;
}
#cartSubtotalHeader{
	width : 7em;
}
.cartItemSubtotal{
	width : 7em;
	padding-left: .5em
	padding-right: 1em;
}
/*CART ITEMS*/
.cartItemBody{
	width: 40em;
}
.cartItemQuantity{
	vertical-align: top;
	width: 7em;
}
.cartItem {
	border: 2px solid lightgrey;
	height: 30em;
}
.cartItem div {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	border-right: 2px solid lightgrey;
}